.search {
    display: flex block;
    border-radius: 30px;
    margin: 30px;
    padding: 20px;
    background-color: #fbf5c7;
    font-family:  'Goldman', cursive;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 10px 19px 7px rgba(0, 0, 0, 0.2);
  }
  #search {
    background-color: #ff6464;
    color: #fbf5c7;
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
   margin-left: 10px;
  }
  #cur {
    background-color: #ff8264;
    color: #fbf5c7;
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
 }

  form {
    padding: 8px;
    display: flex inline;
  }
  h1 {
    display: inline;
      }
  .current {
    margin: 20px;
    padding: 20px;
    background: radial-gradient(circle at 10% 20%, rgb(255, 232, 182) 0%, #fbf5c7 90%); 
    font-family: 'Goldman', cursive;
    width: 50%;
    color: #ff6464;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 10px 19px 7px rgba(0, 0, 0, 0.2);
   }
  .general {
    margin: 10px;
      }
  #city {
    display: inline-flex;
    white-space: pre-wrap;
    margin: 15px;
     }
  .cityname {
    padding: 5px 10px;
  }
  .degree {
    padding: 5px 30px;
    border-radius: 45px;
    margin: 20px 10px 0 30px;
    display: inline-flex;
  }
  
  #sense {
    margin: 0 15px 0 5px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
  }
  .container {
    padding: 10px;
    margin: 20px 5px;
    }
 
  .precipitation {
    color: #ff8264;
    padding: 30px;
    font-size: 19px;
  }
  .forecast {
    margin: 10px;
    padding: 30px;
    border: 2px solid #fbf5c7;
    border-radius: 40px;
    background-color: #fbf5c7;
    color: #ff6464;
    font-size: 20px;
    text-align: center;
    font-family:  'Goldman', cursive;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 10px 19px 7px rgba(0, 0, 0, 0.2);
  }
  .days:hover {
    background-color: rgb(255, 232, 182);
    transform: scale(1.2);
  }
  #celcium, #farenheit {
    font-size: 15px;
  }
  .time {
    display: inline-flex;
    white-space: pre-wrap;
    margin: 20px;
  }
  
  #link {
    font-family: monospace;
    font-size: 15px;
    text-align: center;
  }
#icon {
  width: 50%;
  margin-left: 50px ;
}
#repository{
color: #ff8264;
}
#celcium.active  {
color: black;
cursor: default;

}
#farenheit.active {
  color: black;
cursor: default;

}
#celcium.active:hover {
text-decoration: none;
}
#farenheit.active:hover {
  text-decoration: none;
}
.forecast-temp-min {
    color: #ffaa64;
}
.days {
  margin: 0 11px;
}

#description {
  text-transform: capitalize;
}